.jeff {
    --default-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    --mermaid-font: var(--default-font);
    --reveal-font: var(--default-font);
    --accent-s: 100%;
    --accent-l: 50%;
    --accent-d: calc(var(--accent-l) + 2%);
    --color-black-rgb: 0, 0, 0;
    --color-white-rgb: 255, 255, 255;
    --text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --text-editor: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-monospace: Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace;
    --rem: 18px;
    --editor-line-height: 1.88889;
    --editor-font-weight: 400;
    --editor-font-features: "";
    --scale-small: 90;
    --font-normal: 16px;
    --font-small: 14px;
    --font-smaller: 11px;
    --font-smallest: 10px;
    --normal-weight: 400;
    --bold-weight: 600;
    --line-width: 42rem;
    --line-height: 1.5;
    --max-width: 100%;
    --nested-padding: 3.5%;
    --icon-muted: 0.4;
    --border-width: 1px;
    --border-width-alt: 1px;
    --titlebar-height: 28px;
    --header-width: 42px;
    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 10px;
    --radius-xl: 20px;
    --cursor: pointer;
    --strong-weight: var(--bold-weight);
    --strong-color: inherit;
    --em-color: inherit;
    --h1-size: 1.602em;
    --h1-line-height: 1.4;
    --h1-margin-top: 3;
    --h1-margin-bottom: 1;
    --h1-weight: 500;
    --h1-style: normal;
    --h2-size: 1.424em;
    --h2-line-height: 1.4;
    --h2-margin-top: 2.25;
    --h2-margin-bottom: 0.5;
    --h2-weight: 500;
    --h2-style: normal;
    --h3-size: 1.266em;
    --h3-line-height: 1.4;
    --h3-margin-top: 1.75;
    --h3-margin-bottom: 0.5;
    --h3-weight: 500;
    --h3-style: normal;
    --h4-size: 1.125em;
    --h4-line-height: 1.5;
    --h4-margin-top: 1.5;
    --h4-margin-bottom: 0.5;
    --h4-weight: 500;
    --h4-style: normal;
    --h5-size: 1em;
    --h5-line-height: 1.5;
    --h5-margin-top: 1.5;
    --h5-margin-bottom: 0.5;
    --h5-weight: 500;
    --h5-style: normal;
    --h6-size: 1em;
    --h6-line-height: 1.5;
    --h6-margin-top: 1.5;
    --h6-margin-bottom: 0.5;
    --h6-weight: 500;
    --h6-style: italic;
    --h1-color: var(--text-normal);
    --h2-color: var(--text-normal);
    --h3-color: var(--text-normal);
    --h4-color: var(--text-normal);
    --h5-color: var(--text-normal);
    --layer-cover: 5;
    --layer-sidedock: 10;
    --layer-status-bar: 15;
    --layer-popover: 30;
    --layer-slides: 45;
    --layer-modal: 50;
    --layer-notice: 60;
    --layer-menu: 65;
    --layer-tooltip: 70;
    --layer-dragged-item: 80;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    --editor-line-height-rem: calc(var(--editor-line-height) * 1rem);
    --editor-line-height-small: calc(var(--editor-line-height) * var(--scale-small) / 100);
    --editor-line-height-small-rem: calc(var(--editor-line-height-small) * 1rem);
    font-family: var(--text) !important;
    -webkit-font-smoothing: antialiased !important;
    --text-preview: var(--text-editor);
    --preview-font-size: var(--editor-font-size);
    --preview-line-height: var(--editor-line-height);
    --preview-line-height-rem: calc(var(--preview-line-height) * 1rem);
    --preview-font-weight: var(--editor-font-weight);
    --preview-font-features: var(--editor-font-features);
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --text-muted-rgb: 153, 153, 153;
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
    --accent-h: 210;
    --red-rgb: 255, 69, 58;
    --orange-rgb: 255, 159, 10;
    --yellow-rgb: 255, 214, 10;
    --green-rgb: 50, 215, 75;
    --teal-rgb: 100, 210, 255;
    --blue-rgb: 10, 132, 255;
    --indigo-rgb: 94, 92, 230;
    --purple-rgb: 191, 90, 242;
    --pink-rgb: 255, 45, 85;
    --accent-hsl: var(--accent-h), var(--accent-s), var(--accent-d);
    --foreground-rgb: 204, 204, 204;
    --background-rgb: 30, 30, 30;
    --shade-90: rgba(var(--foreground-rgb), 0.9);
    --shade-80: rgba(var(--foreground-rgb), 0.8);
    --shade-70: rgba(var(--foreground-rgb), 0.7);
    --shade-60: rgba(var(--foreground-rgb), 0.6);
    --shade-50: rgba(var(--foreground-rgb), 0.5);
    --shade-40: rgba(var(--foreground-rgb), 0.4);
    --shade-30: rgba(var(--foreground-rgb), 0.3);
    --shade-20: rgba(var(--foreground-rgb), 0.2);
    --shade-10: rgba(var(--foreground-rgb), 0.1);
    --shade-5: rgba(var(--foreground-rgb), 0.05);
    --shade-3: rgba(var(--foreground-rgb), 0.03);
    --shade-2: rgba(var(--foreground-rgb), 0.02);
    --shade-0: rgb(var(--background-rgb));
    --shade-plus-darker: rgba(255, 255, 255, 0.15);
    --shade-plus-darker-hsl: hsl(0, 0%, 16%);
    --dark-separator: hsl(0, 0%, 9%);
    --background-primary: var(--shade-0);
    --background-primary-alt: var(--shade-3);
    --background-secondary: var(--shade-3);
    --background-secondary-alt: var(--shade-3);
    --background-tertiary: var(--shade-3);
    --background-modifier-border: var(--shade-plus-darker);
    --background-modifier-border-hover: var(--shade-plus-darker);
    --background-modifier-border-focus: var(--shade-plus-darker);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --text-normal: var(--shade-90);
    --text-muted: var(--shade-50);
    --text-faint: var(--shade-30);
    --background-transparent: transparent;
    --background-translucent: rgba(40, 40, 40, 0.6);
    --background-match-highlight: hsla(var(--accent-hsl), 0.2);
    --background-modifier-accent: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) - 10%));
    --text-accent: hsl(var(--accent-hsl));
    --text-accent-hover: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) + 12%));
    --text-on-accent: white;
    --icon-hex: FFF;
    --interactive-accent: hsl(var(--accent-hsl));
    --interactive-accent-hover: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-d) - 15%));
    --quote-opening-modifier: var(--shade-70);
    --interactive-accent-rgb: var(--shade-70);
    --text-selection: hsl(var(--accent-h), calc(var(--accent-s) - 50%), 20%);
    --text-highlight-bg: rgba(255, 177, 80, 0.3);
    --text-highlight-bg-active: rgba(255, 255, 255, 0.1);
    --background-modifier-cover: rgba(20, 20, 20, 0.6);
    --opacity-translucency: 1;
    --editor-font-size: 15px;
    font-size: 14px;
    color: var(--text-normal);
    font-weight: 500;
    box-sizing: border-box;
    flex: 1 1 auto;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: var(--cursor);
    padding: 6px 0;
    border: none;
    line-height: 1;
    text-overflow: ellipsis;
}